<div class="page-header">
  <h3>Algemene informatie</h3>
</div>

<%= form_for @user, :html => { :multipart => true }  do |f| %>

<div class="row">
      <div class="col-xs-4 form-group">
        	<%= f.label :firstname, "Voornaam" %>
        	<%= f.text_field :firstname, class: "form-control errorcheck" %>
      </div>
      <div class="col-xs-4 form-group">
        	<%= f.label :lastname, "Achternaam" %>
        	<%= f.text_field :lastname, class: "form-control errorcheck"  %>
      </div>
</div>
<div class="row">
      <div class="col-xs-4 form-group">
        	<%= f.label :address, "Adres" %>
        	<%= f.text_field :address, class: "form-control errorcheck" %>
      </div>
      <div class="col-xs-4 form-group">
        	<%= f.label :housenumber, "Huisnummer" %>
        	<%= f.text_field :housenumber, class: "form-control errorcheck"  %>
      </div>
</div>
<div class="row">
      <div class="col-xs-4 form-group">
        	<%= f.label :zip_code, "Postcode" %>
        	<%= f.text_field :zip_code, class: "form-control errorcheck" %>
      </div>
      <div class="col-xs-4 form-group">
        	<%= f.label :city, "Woonplaats" %>
        	<%= f.text_field :city, class: "form-control errorcheck"  %>
      </div>
</div>
<div class="row">
      <div class="col-xs-4 form-group">
        	<%= f.label :email, "Email" %>
        	<%= f.text_field :email, class: "form-control errorcheck" %>
      </div>
      <div class="col-xs-4 form-group">
        	<%= f.label :phone_number, "Telefoon" %>
        	<%= f.text_field :phone_number, class: "form-control errorcheck"  %>
      </div>
</div>


<div class="row">
	<div class="col-xs-4 form-group">
   		<%= f.label :commune, "Gemeente" %> 
		<%= f.select :commune, ["Achtkarspelen", "Ameland","het Bildt", "Dantumadiel", "Dongeradeel", "Ferwerderadiel", "Frankeradeel", "De Friese Meren","Harlingen", "Heerenveen", "Kollumerland en Nieuwkruisland", "Leeuwarden", "Leeuwarderadeel", "Littenseradiel", "Menemeradiel", "Ooststellingwerf", "Opsterland", "Schiermonnikoog", "Smallingerland", "Súdwest-Fryslân", "Terschelling", "Tytsjerksteradiel", "Vlieland", "Westellingwerf"] %>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 form-group">
		<%= f.label :date_of_birth, "Geboortedatum" %><br>
 		<%= f.date_select(:date_of_birth, order: [:day, :month, :year], :start_year => 1900, :end_year => Time.now.year) %>
</div>
</div>

 <%= f.file_field :avatar %><br/>

<div class="row">
 <div class="col-xs-4 form-group">
   <%= f.submit 'Wijzigingen opslaan', class: 'button button-blue button-large'  %>
</div>
</div>

 <% end %>