<% content_for :landingpage do %>
<h1>Registreren</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <%= f.label :firstname, "voornaam" %> </br>
  <%= f.text_field :firstname %>
  </p>
  
   <p>
  <%= f.label :lastname, "achternaam" %> </br>
  <%= f.text_field :lastname %>
  </p>

  <p>
  <%= f.label :address, "Adres" %> </br>
  <%= f.text_field :address %>
  </p>

  <p>
  <%= f.label :zip_code, "Postcode" %> </br>
  <%= f.text_field :zip_code, {:maxlength => 6, :size => 6} %>
  </p>

   <p>
  <%= f.label :commune, "Gemeente" %> </br>
  <%= f.label :commune, "Gemeente" %> </br>
<%= f.select :commune, options_for_select(["Achtkarspelen", "Ameland","het Bildt", "Dantumadiel", "Dongeradeel", "Ferwerderadiel", "Frankeradeel", "De Friese Meren","Harlingen", "Heerenveen", "Kollumerland en Nieuwkruisland", "Leeuwarden", "Leeuwarderadeel", "Littenseradiel", "Menemeradiel", "Ooststellingwerf", "Opsterland", "Schiermonnikoog", "Smallingerland", "Súdwest-Fryslân", "Terschelling", "Tytsjerksteradiel", "Vlieland", "Westellingwerf"]) %>  
</p>

  <p>
    <%= f.label :date_of_birth, "Geboortedatum" %> </br>
    <%= f.date_select(:date_of_birth, order: [:day, :month, :year], :start_year => 1900, :end_year => Time.now.year) %>
  </p>

  <p>
    <%= f.label :phone_number, "Telefoonnummer" %> </br>
    <%= f.text_field :phone_number, {:maxlength => 10, :size => 10} %>
  </p>
  
  <p>
    <%= f.label :email, "email" %><br />
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
<% end %>