
<div id="userinfo">
<div id="avatar"><%= image_tag @user.avatar.url %></div>
<p>uw gegevens:</p>

<p> De heer of mevrouw</p><%= @user.firstname %> 
<%= @user.lastname %> <br/>

<p> E-mail adres: <%= @user.email %> </p><br/></div>
 

<%= link_to 'Uw gegevens aanpassen', edit_user_path %> 

