<%= image_tag @user.avatar.url, :class => "pull-left img-circle profielfoto profielfoto-user" %>
<h2><%= @user.firstname %> <%= @user.lastname %></h2>

<%= link_to 'Profiel aanpassen', edit_user_path, :class => "pull-right btn btn-default" %>
<%= link_to 'Wachtwoord wijzigen', edit_user_path, :class => "pull-right btn btn-default" %>

<p>
	Gebruikersnaam: <%= @user.firstname %> <%= @user.lastname %><br>
	Aangemeld sinds <%= @user.created_at.strftime("%-d %B %Y").downcase%>
</p>

<div class="achtergrond-h3">
	<h3>Algemene informatie</h3>	
</div>

<div class="row">
  <div class="col-md-4">
  	<strong>Adres:</strong><br>
	<%= @user.address %>
	<br><br>
	<strong>Geboortedatum:</strong><br>
	<%= @user.date_of_birth.strftime("%d %B %Y").downcase %>
	<br><br>
	<strong>Telefoonnummer:</strong><br>
	<%= @user.phone_number %>
	<br><br>
	<strong>Gemeente:</strong><br>
	Leeuwarden
	<br><br>
	<strong>E-mailadres:</strong><br>
	<%= @user.email %>
	<br><br>
	<strong>Leeftijd:</strong><br>
	<%= (Date.current.year - @user.date_of_birth.year).to_i %>
  </div>
  <div class="col-md-8">
  	<strong><span class="badge">2</span> aankomende activiteiten</strong>
  	<br>
  	<i class="fa fa-check"></i> Schaken op 19 december 2013<br>
  	<i class="fa fa-check"></i> Rijksmuseum bezoeken op 26 februari 2014
  </div>
</div>

<div class="achtergrond-h3">
	<h3>Privacy instellingen</h3>	
</div>

<div class="achtergrond-h3">
	<h3>Instellingen activiteiten</h3>	
</div>