<div class="page-header">
  <h3>Activiteit bewerken</h3>
  <%= link_to 'Back', events_path %>
  <div class="fout"></div>
  </div>

  <div class="row">
      <div class="col-md-5 border">
      <%= form_for(@event) do |f| %>
        <div class="form-group">
            <%= f.label :title, "Titel van de activiteit" %><br>
            <%= f.text_field :title, class: "form-control",  placeholder: "bv. bezoek aan het museum" %>
        </div>
        <div class="row margin-for-date">
          <div class="col-xs-7">
              <%= f.label :eventdate, "Datum" %>
              <i class="fa fa-calendar"></i>
              <%= f.text_field :eventdate, class: "form-control", placeholder: "Selecteer een datum", id: "datepicker"%>
          </div>
            <div class="col-xs-5">
              <%= f.label :eventtime, "Tijd" %>
              <i class="fa fa-clock-o"></i>
              <%= f.text_field :eventtime, class: "form-control", placeholder: "Selecteer een tijd"%>
            </div>
        </div>
        <div class="form-group">
          <label for="type">Type activiteit</label>
          <select class="form-control">
              <option>Daguitje</option>
              <option>...</option>
              <option>...</option>
              <option>...</option>
              <option>...</option>
          </select>
        </div>
        <div class="form-group">
          <%= f.label :content, "Omschrijving" %><br>
          <%= f.text_area :content, class: "form-control", placeholder: "Waar gaat de activiteit over?" %>
        </div>
        <div class="form-group">
          <%= f.label :location %>
          <i class="fa fa-map-marker"></i>
          <%= f.text_field :location, class: "form-control", id: "gmaps-input-address", placeholder: "Begin met het typen van een adres..." %>
          <span class="help-block"><em>Eventueel extra informatie over deze functie</em></span>
              <div id='gmaps-error'></div>
            </div>
      <!-- einde form deel/1 - #addperson werkt niet binnen een form || nu wel vreemd genoeg!!!(form verwijderd)-->
        <div class="form-group">
          <label for="">Genodigden</label>
          <i class="fa fa-user"></i>
          <!-- <input type="search" class="form-control" id="tags" name="message" placeholder="Zoeken naar gebruikers"> -->
          <div class="input-group">
                <input type="text" class="form-control" id="tags" name="message" placeholder="Zoeken naar gebruikers...">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success" id="add"><i class="fa fa-plus fa-lg"></i> Uitnodigen</button>
              </span>
            </div>
          <!-- <button type="button" class="btn btn-success" id="add"> <i class="fa fa-plus fa-lg"></i> Uitnodigen</button> -->
        </div>
        <!-- autofill met namen -->
        <ul id="addperson">
        </ul>
        <%= f.submit 'Activiteit aanpassen', class: 'btn btn-primary btn-lg btn-block'  %>
        <% end %>
      </div>
        <div class="col-md-7 visible-md visible-lg">
        <div id='gmaps-canvas'></div>
        <bold>Locatie van de activiteit</bold> - <em>sleep de <abbr title="het pijltje">pin</abbr> op de kaart als u locatie nauwkeurig wilt wijzigen</em> 
        </div>
  </div>	

