 <div class="page-header">
  <h2>Activiteiten</h2>
</div>
<%= render 'menu' %>
<div class="activiteit-eigen">
  <h3>Activiteiten overzicht</h3>
  <p>Alle activiteiten waar u aan deelneemt zijn hier te zien.</p>
  <%= search_form_for @search do |f| %>
  <%= f.label :location_cont, "zoek op plaats"%>
  <%= f.text_field :location_cont, :class => "form-control" %>
  <%= f.submit "Zoek" %>
  <% end %>
</div> 

<div class="activiteit-prive">
  <% if @events.length == 0 %><%= "U heeft momenteel geen activiteiten gepland" %> <% end %>
</div>
<% for start in @eventsoverview %>
    <div class="activiteit activiteit-prive">
      <%= link_to start do %>
        <div class="tijd-tot">
          <i class="fa fa-calendar-o no-margin"></i> 
          <em> <%= start.days_from_now() %> </em> 
        </div>
        <h3 class="uitgelicht-h4"><%= start.title %></h3>
        <ul class="list-unstyled">
          <li><i class="fa fa-flag fa-lg"></i>Daguitje  Georganiseerd door <strong><%= start.user.firstname %> <%= start.user.lastname  %></strong></li> 
          <li><i class="fa fa-calendar-o fa-lg"></i> <%= start.eventdate ? l(start.eventdate, format: '%e %B %Y').downcase : "" %> <i class="fa fa-clock-o"></i> <%= start.eventtime.strftime("%H:%M") %> </li>
          <li><i class="fa fa-map-marker fa-lg"></i> <%= start.location %></li>
        </ul>
      <% end %>
    </div>
<% end %>

<%= will_paginate @events, :previous_label => 'Vorige', :next_label => 'Volgende' %>
