<h1> Events </h1>

<%= form_for :event, url: events_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  	
  <p>	
  	<%= f.label :location %>
  	<%= f.text_field :location %>
  </p>

  <p>
  	<%= f.label :eventdate %>
  	<%= f.text_field :eventdate %>
  </p>
  
  <p>
  	<%= f.label :eventtime %>
  	<%= f.text_field :eventtime %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>