<div class="page-header">
  <h2>Activiteiten</h2>
</div>
<%= render 'menu' %>
<div class="activiteit-eigen">
  <h3>Openbare Activiteiten</h3>
  <p>Openbare activiteiten waar u aan kunt deelnemen</p>
</div> 

<div class="activiteit-prive">
  <% if @eventsshow.length == 0 %><%= "Er zijn momenteel geen openbare activiteiten" %> <% end %>
</div>
<% for start in @eventsshow %>
    <div class="activiteit activiteit-prive">
      <%= link_to start do %>
        <div class="tijd-tot">
          <i class="fa fa-calendar-o no-margin"></i> 
          <em> <%= start.days_from_now() %> </em> 
        </div>
        <h3 class="uitgelicht-h4"><%= start.title %></h3>
        <ul class="list-unstyled">
          <li><i class="fa fa-flag fa-lg"></i>Daguitje  Georganiseerd door <strong><%= start.user.firstname start.user.lastname  %></strong></li> 
          <li><i class="fa fa-calendar-o fa-lg"></i> <%= start.eventdate ? l(start.eventdate, format: '%e %B %Y').downcase : "" %> <i class="fa fa-clock-o"></i> <%= start.eventtime.strftime("%H:%M") %> </li>
          <li><i class="fa fa-map-marker fa-lg"></i> <%= start.location %></li>
        </ul>
      <% end %>
    </div>
<% end %>

