<div class="page-header">
  <h3><%= @event.title %> <small><% if current_user.id == @event.user_id %>
        <i class="fa fa-pencil-square-o fa-color"></i> <%= link_to 'Activiteit aanpassen of verwijderen', edit_event_path %> 
        <% end %></small></h3>
</div>

<div class="row">
  <div class="col-md-5 border">
    <div class="row margin-for-date">
      <div class="col-xs-12">
      <i class="fa fa-info-circle"></i> Vindt plaats <strong><%= @event.days_from_now() %></strong>.
      </div>
    <div class="col-xs-7">
        <i class="fa fa-calendar"></i>
          <%= l(@event.eventdate, :format => "%d %B %Y").downcase %>
      </div>
      <div class="col-xs-5">
        <i class="fa fa-clock-o"></i>
            <%= @event.eventtime.strftime("%H:%M") %>
      </div>
    <br>
    </div>
    <div class="form-group">
      <label for="type"><i class="fa fa-bookmark"></i> Type activiteit</label><br>
      Daguitje
    </div>
    <div class="form-group">
      <label for="type"><i class="fa fa-tags"></i> Omschrijving</label><br>
      <%= @event.content %>
    </div>
    <div class="form-group">
      <label for="type"><i class="fa fa-location-arrow"></i> Locatie</label><br>
      <%= @event.location %>
      <div id='gmaps-error'></div>
    </div>

    <div class="form-group">
      <i class="fa fa-users"></i>
      <label for="">Genodigden</label>
        
        <div class="input-group">

        <p> Aantal deelnemers: <%= @event.participants.count %> </p>


<% @event.users.each do |user|%>
<ul id="addperson">
<li class="invited">
<%= image_tag user.avatar.url, :class => "img-circle profielfoto profielfoto-invite" %> <%= user.firstname %> <%= user.lastname %>
</li>
</ul>

<% end %>
</div>



</div>
<div class="deelnemen">
<p>Hieronder kunt u aangeven of u ook wilt deelnemen of zich juist wilt uitschrijven.<br><br></p>
  <% if @participant = @event.participants.where(user_id: current_user.id).first  %>
        <%= link_to "Helaas, ik doe niet meer mee! ", unfollow_event_path, :method => :delete, :class => "button button-orange button-large"%>
        <% end %>
        <% unless @participant = @event.participants.where(user_id: current_user.id).first %>   
        <%= link_to "Ik doe mee!", follow_event_path, :class => "button button-green button-large" %>
        <% end %>
</div>

  </div>

<div class="col-md-7 visible-md visible-lg">
  <div id='gmaps-canvas'></div>
      <bold>Locatie van de activiteit</bold> - <em>sleep de <abbr title="het pijltje">pin</abbr> op de kaart als u locatie nauwkeurig wilt wijzigen</em> 
  </div>
</div>  

<%= render 'comments/new' %> 

<% @event.comments.each do |c| %>


<div class="media">
  <div class="pull-left">
    <%= image_tag c.user.avatar.url, :class => "media-object img-circle profielfoto profielfoto-comment"%>
  </div>
  <div class="media-body">
  <h5 class="media-heading">Geplaatst door <%= c.user.firstname %> op <%= l(c.created_at, :format => "%e %B %Y %H:%M").downcase %></h5>
    <%= c.content %><br/>
  </div>
</div>

<% end %>