<div class="page-header">
  <h3><%= @event.title %> <small><% if current_user.id == @event.user_id %>
        <i class="fa fa-pencil-square-o fa-color"></i> <%= link_to 'Activiteit aanpassen of verwijderen', edit_event_path %> 
        <% end %></small></h3>
</div>

<div class="row">
  <div class="col-md-5 border">
    <div class="row margin-for-date">
      <div class="col-xs-12">
      <i class="fa fa-info-circle"></i> Vindt plaats <strong><%= @event.days_from_now() %></strong>.
      </div>
    <div class="col-xs-7">
        <i class="fa fa-calendar"></i>
          <%= @event.eventdate.strftime("%d %B %Y").downcase %>
      </div>
      <div class="col-xs-5">
        <i class="fa fa-clock-o"></i>
            <%= @event.eventtime.strftime("%H:%M") %>
      </div>
    <br>
    </div>
    <div class="form-group">
      <label for="type"><i class="fa fa-bookmark-o"></i> Type activiteit</label><br>
      Daguitje
    </div>
    <div class="form-group">
      <label for="type"><i class="fa fa-tags"></i> Omschrijving</label><br>
      <%= @event.content %>
    </div>
    <div class="form-group">
      <label for="type"><i class="fa fa-location-arrow"></i> Locatie</label><br>
      <%= @event.location %>
      <div id='gmaps-error'></div>
    </div>
    <div class="form-group">
      <i class="fa fa-users"></i>
      <label for="">Genodigden</label>
      <div class="input-group">
      
          <p> Aantal deelnemers: <%= @event.participants.count %> </p>
    
     <% if @participant = @event.participants.where(user_id: current_user.id).first  %>
       <%= link_to "event niet meer volgen", unfollow_event_path, :method => :delete %>
        <% end %>
    <% unless @participant = @event.participants.where(user_id: current_user.id).first %>   
 <%= link_to "event volgen", follow_event_path %>
  <% end %>
  
        
          <% @event.users.each do |user|%>
          <ul id="addperson"><li class="invited"><%= user.id %> <%= user.email %></li></ul>
          <%= image_tag user.avatar.url %>
        <% end %>
      </div>
    </div>  
  </div>
  <div class="col-md-7 visible-md visible-lg">
  <div id='gmaps-canvas'></div>
  <bold>Locatie van de activiteit</bold> - <em>sleep de <abbr title="het pijltje">pin</abbr> op de kaart als u locatie nauwkeurig wilt wijzigen</em> 
  </div>
</div>  

<%= render 'comments/new' %> 

<% @event.comments.each do |c| %>

<%= image_tag c.user.avatar.url %>

<%= c.user.firstname %>


<small><%= c.content %></small>

<% end %>
