<div class="page-header">
  <h3><%= @event.title %></h3>
  </div>
  <div class="row">
      <div class="col-md-5 border">

        <div class="row margin-for-date">
          <div class="col-xs-7">
              <%= "Datum" %>
              <i class="fa fa-calendar"></i>
               <%= @event.eventdate  %>
          </div>
            <div class="col-xs-5">
              <%= "Tijd" %>
              <i class="fa fa-clock-o"></i>
             <%= @event.eventtime %>
            </div>
        </div>
         <div class="form-group">
          <label for="type">Type activiteit</label>
          <select class="form-control">
              <option>Daguitje</option>
              <option>...</option>
              <option>...</option>
              <option>...</option>
              <option>...</option>
          </select>
        </div>
        <div class="form-group">
          <%= "Omschrijving" %><br>
          <%= @event.content  %>
        </div>
        <div class="form-group">
          <%= "Locatie" %>
          <i class="fa fa-map-marker"></i>
          <%= @event.location %>
          <span class="help-block"><em>Eventueel extra informatie over deze functie</em></span>
              <div id='gmaps-error'></div>
            </div>
      
     <div class="form-group">
          <label for="">Genodigden</label>
          <i class="fa fa-user"></i>
          <!-- <input type="search" class="form-control" id="tags" name="message" placeholder="Zoeken naar gebruikers"> -->
          <div class="input-group">
                <input type="text" class="form-control" id="tags" name="message" placeholder="Zoeken naar gebruikers...">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success" id="add"><i class="fa fa-plus fa-lg"></i> Uitnodigen</button>
              </span>
            </div>
          <!-- <button type="button" class="btn btn-success" id="add"> <i class="fa fa-plus fa-lg"></i> Uitnodigen</button> -->
        </div>
        <!-- autofill met namen -->
        <ul id="addperson">
        </ul>
      

 
    
 
      
      
      <%= link_to 'Back', events_path %>


<%= link_to 'aanpassen' , edit_event_path %>

     </div>
        <div class="col-md-7 visible-md visible-lg">
        <div id='gmaps-canvas'></div>
        <bold>Locatie van de activiteit</bold> - <em>sleep de <abbr title="het pijltje">pin</abbr> op de kaart als u locatie nauwkeurig wilt wijzigen</em> 
        </div>
  </div>