<div class="page-header">
  <h2>Startpagina</h2>
</div>

<div class="nul-padding">
  <!-- <div class="clearfix profiel">
    <img src="http://placecreature.com/kitten/85/85" alt="profile" class="pull-left img-circle profielfoto">
      <h3>Welkom Meneer <strong>John Doe</strong></h3>
      Uw laatste bezoek was op vrijdag 29 november 2013 om 14:38
  </div> -->

  <div class="sorteren-blok">
  Sorteer op: <br>
  <select>
      <option value="Aflopend">Aflopend</option> 
      <option value="Oplopend">Oplopend</option>
    </select>
  </div>

  <div class="zoeken-blok">
  Zoek op plaats: <br>
  <form>
  <input name="search" type="search" placeholder="Zoek op woonplaats">
  <input type="submit" value="search">
  </form>
  </div>

  <div class="clearfix"></div>

  <div class="activiteit-eigen">
    <h3>Activiteiten</h3>
    <p>U heeft <span class="badge"><%= @events.length %></span> activiteiten waar u binnen 
    <select>
      <option value="5">5</option> 
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
    dagen aan deelneemt.
    </p>
  </div>
  <% @events.each do |start| %>
  <div class="activiteit activiteit-prive">
    <div class="tijd-tot"><i class="fa fa-calendar-o"></i> over <em>3</em> dagen </div>
    <h4><%= start.title %></h4>
    <i class="fa fa-flag"></i> Daguitje <i class="fa fa-calendar"></i> <%= start.eventdate %> <i class="fa fa-map-marker"></i> <%= start.location %>
    <%= link_to 'Verwijderen', start, :method => :delete %>
  </div>
  <div class="scheiding"></div>
  <% end %>

  <p>Geen interessante activiteit gevonden? Heeft u zelf een leuke activiteit?</p>
  <button type="button" class="btn btn-primary btn-lg btn-block">Activiteit aanmaken</button>

</div>