<div class="page-header">
  <h2>Startpagina</h2>
</div>

<div class="nul-padding">
  <p class="lead">Welkom <%= current_user.firstname %> <%= current_user.lastname %>.</p>
  <p>
  Het is vandaag <%= l(Time.now, :format => '%e %B %Y').downcase %> en de tijd is <%= Time.now.strftime("%H:%M") %>.<br>
  Op deze pagina vindt u uw persoonlijke activiteiten waaraan u gaat deelnemen.</p>

  <div class="mededeling-titel">
    <h3>Mededelingen</h3>
  </div>

  <div class="mededeling">
    Aangemaakt op: <i class="fa fa-calendar"></i> 2 januari 2013 om <i class="fa fa-clock-o"></i> <%= Time.now.strftime("%H:%M") %>
  </div>

  

  <div class="zoeken-blok">
  <strong>Zoek op activiteit:</strong>
  <div class="input-group">
     <input type="text" class="form-control" placeholder="Vul titel van activiteit in">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i> Zoeken</button>
      </span>
    </div><!-- /input-group -->

  </div>

  <div class="clearfix"></div>

  <div class="activiteit-eigen">
    <h3>Activiteiten</h3>
    <p>U heeft <span class="badge"><%= @events.length %></span> activiteiten waar u binnen 
    <select>
      <option value="5">5</option> 
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
    dagen aan deelneemt.
    </p>
  </div>
  <% @events.each do |start| %>
  <% unless start.days_from_now == nil %>
  <%= link_to start do %>
  <div class="activiteit activiteit-prive">
    <div class="tijd-tot"><i class="fa fa-calendar-o no-margin"></i> <em> <%= start.days_from_now() %> </em> </div>
    <h3 class="uitgelicht-h4"><%= start.title %></h3>
    <ul class="list-unstyled">
      <li><i class="fa fa-flag fa-lg"></i> Daguitje</li>
      <li><i class="fa fa-calendar-o fa-lg"></i> <%= start.eventdate ? l(start.eventdate, format: '%e %B %Y').downcase : "" %> </li>
      <li><i class="fa fa-map-marker fa-lg"></i> <%= start.location %></li>
    </ul>
    <i class="fa fa-trash-o"></i> <%= link_to 'Activiteit verwijderen', start, :method => :delete %>
  </div>
  <% end %>
  <% end %>
  <% end %>

  <h4>Spontaan een leuke activiteit bedacht?</h4>
  <%= link_to new_event_path do %> <button type="button" class="button button-green button-large"><i class="fa fa-plus-circle fa-lg"></i> Activiteit aanmaken</button> <% end %>

</div>