<div class="page-header">
  <h2>Startpagina</h2>
</div>
<% unless(current_user) %> 
<%= "Geen directe toegang" %>
<% else %>

<div class="nul-padding">
  <p class="lead">Welkom <%= current_user.firstname %> <%= current_user.lastname %></p>
  <p>Hieronder bekijkt u uw aankomende activiteiten waaraan u gaat deelnemen.</p>

  <div class="sorteren-blok">
  Sorteer op: <br>
  <select>
      <option value="Aflopend">Aflopend</option> 
      <option value="Oplopend">Oplopend</option>
    </select>
  </div>

  <div class="zoeken-blok">
  Zoek op plaats: <br>
  <form>
  <input name="search" type="search" placeholder="Zoek op woonplaats">
  <input type="submit" value="search">
  </form>
  </div>

  <div class="clearfix"></div>

  <div class="activiteit-eigen">
    <h3>Activiteiten</h3>
    <p>U heeft <span class="badge"><%= @events.length %></span> activiteiten waar u binnen 
    <select>
      <option value="5">5</option> 
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
    dagen aan deelneemt.
    </p>
  </div>
  <% @events.each do |start| %>
  <div class="activiteit activiteit-prive">
    <div class="tijd-tot"><i class="fa fa-calendar-o"></i> over <em> 3</em> dagen </div>
    <h4 class="uitgelicht-h4"><%= start.title %></h4>
    <ul class="list-unstyled">
      <li><i class="fa fa-flag"></i> Daguitje</li>
      <li><i class="fa fa-calendar"></i> <% if(start.eventdate) %><%= start.eventdate.strftime("%-d %B %Y").downcase %> <% end %></li>
      <li><i class="fa fa-map-marker"></i> <%= start.location %></li>
    </ul>
    <%= link_to 'Verwijderen', start, :method => :delete %>
  </div>
  <div class="scheiding"></div>
  <% end %>

  <p>Spontaan een leuke activiteit bedacht?</p>
  <button type="button" class="button button-green button-large"><i class="fa fa-plus-circle fa-lg"></i> Activiteit aanmaken</button>
<% end %>
</div>