<div class="page-header">
  <h2>Startpagina</h2>
</div>

<div class="col-md-9">
  <div class="clearfix profiel">
    <img src="http://placecreature.com/kitten/85/85" alt="profile" class="pull-left img-circle profielfoto">
      <h3>Welkom Meneer <strong>John Doe</strong></h3>
      Uw laatste bezoek was op vrijdag 29 november 2013 om 14:38
  </div>

  <div class="activiteit-eigen">
    <h3>Activiteiten</h3>
    <p>U heeft <span class="badge">2</span> activiteiten waar u binnen 
    <select>
      <option value="5">5</option> 
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>
    dagen aan deelneemt.
    </p>
  </div>

  <div class="activiteit activiteit-prive">
    <h4>Bezoek aan het rijksmuseum</h4>
    <i class="fa fa-flag"> Daguitje</i> <i class="fa fa-calendar"> 26 november 2013</i> <i class="fa fa-map-marker"> Rijksmuseum Amsterdam</i>
  </div>

  <div class="activiteit activiteit-prive">
    <h4>Bezoek aan het rijksmuseum</h4>
    <i class="fa fa-flag"> Daguitje</i> <i class="fa fa-calendar"> 26 november 2013</i> <i class="fa fa-map-marker"> Rijksmuseum Amsterdam</i> 
  </div>

  <div class="activiteit-algemeen">
    <h3>Interessante activiteiten binnen uw gemeente(s)</h3>
    <p>
    Binnen de gemeente <strong>Smallingerland</strong> zijn <span class="badge">3</span> interessante activiteiten binnen uw <a href="#">interesseprofiel</a>.
    Grootste plaatsen binnen deze gemeente: 1. Drachten 2. Boornbergum 3. Opeinde 4. Oudega
    </p>
  </div>

  <div class="activiteit activiteit-open">
    <h4>Schaken in het buurthuis</h4>
    <i class="fa fa-flag"> Avondactiviteit</i> <i class="fa fa-calendar"> 5 december 2013</i> <i class="fa fa-map-marker"> Drachten</i>
  </div>
</div>
  
<div class="col-md-3 nieuws">
<h3>Nieuws</h3>
    <h5>Systeemonderhoud</h5>
    <p>Dragée sweet roll pie powder wafer jelly powder. Chocolate cake macaroon unerdwear.com tootsie roll fruitcake biscuit chocolate candy canes. Muffin cake liquorice topping halvah bonbon. Ice cream apple pie apple pie marzipan biscuit jelly-o sugar plum.<br>
    Apple pie fruitcake jelly jelly bear claw danish. Cupcake icing sweet biscuit tart brownie gingerbread. Tootsie roll soufflé marzipan tiramisu gummies.</p>
</div>




 <!--  <div id="user_nav">
      <% if current_user %>
        Aangemeld als <%= current_user.email %>
        <%= link_to "Afmelden", log_out_path %>
      <% else %>
        <%= link_to "Registreren", sign_up_path %> of 
        <%= link_to "Inloggen", log_in_path %>
      <% end %>
      </div>
      <%= link_to "Profiel bekijken", current_user %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash#{name}" %>
      <% end %> -->

<!-- <div class="row">
  <div class="col-md-9">
    <div class="col-md-10 zero">
      <div class="clearfix profiel">
        <img src="http://placecreature.com/kitten/85/85" alt="profile" class="pull-left img-circle profielfoto">
        <h3>Welkom Meneer <strong>John Doe</strong></h3>
        Uw laatste bezoek was op vrijdag 29 november 2013 om 14:38
      </div>
    </div>
      
    <div class="col-md-2">
      <div class="uitloggen">
        <h4><span class="pull-right label label-default"><i class="fa fa-sign-out"></i> Uitloggen</span></h4>
      </div>
    </div>
  <div class="clearfix"></div>
<div class="col-md-12 activiteit-eigen">
    <h3>Activiteiten</h3>
    <p>U heeft <span class="badge">2</span> activiteiten waar u binnen <select>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
    </select>dagen aan deelneemt.</p>
  </div>
  <div class="col-md-12 activiteit activiteit-prive">
        
        <h3>Bezoek aan het rijksmuseum</h3>
        <i class="fa fa-flag"> Daguitje</i> <i class="fa fa-calendar"> 26 november 2013</i> <i class="fa fa-map-marker"> Rijksmuseum Amsterdam</i>
    
  </div>
  <div class="col-md-12 activiteit activiteit-prive">
        
        <h3>Bezoek aan het rijksmuseum</h3>
        <i class="fa fa-flag"> Daguitje</i> <i class="fa fa-calendar"> 26 november 2013</i> <i class="fa fa-map-marker"> Rijksmuseum Amsterdam</i>
    
  </div>


  </div>

  <div class="col-md-3 nieuws">
    <h3>Nieuws</h3>
    <h5>Systeemonderhoud</h5>
    <p>Dragée sweet roll pie powder wafer jelly powder. Chocolate cake macaroon unerdwear.com tootsie roll fruitcake biscuit chocolate candy canes. Muffin cake liquorice topping halvah bonbon. Ice cream apple pie apple pie marzipan biscuit jelly-o sugar plum.<br>
    Apple pie fruitcake jelly jelly bear claw danish. Cupcake icing sweet biscuit tart brownie gingerbread. Tootsie roll soufflé marzipan tiramisu gummies.</p>
  </div>
</div> -->

      