<!DOCTYPE html>
<html>
<head>
  <title>MetElkaar - stichting Vivorbi</title>
  <link type="text/css" rel="stylesheet" src="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<!-- EN > NL vertaling voor datepicker -->
<script src="https://jquery-ui.googlecode.com/svn-history/r3982/trunk/ui/i18n/jquery.ui.datepicker-nl.js"></script>
<!-- google maps -->
<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&region=nl"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% if current_user %>
  <div class="col-sm-3 col-md-3 padding-for-menu-col2">
    <div class="logo">
      <%= image_tag "logo.png" ,class: "img-responsive logo" ,alt: "logo met elkaar"%>
    </div><!-- end of logo -->
      <div id="menu">
      <ul>
        <%= link_to current_user do %>
          <li><%= image_tag current_user.avatar.url, :class => "img-circle profielfoto profielfoto-menu" %><h3><%= current_user.firstname %> <%= current_user.lastname %></h3></li><br />
        <% end %>
        <%= link_to startpage_path do %>
          <li><i class="fa fa-home fa-2x"></i><h3>Startpagina</h3></li>
        <% end %>
          <%= link_to events_path do %>
           <!-- class 'no-margin' zorgt ervoor dat de margin&padding op 0 worden gezet, op de startpage zit in deze icon(s) een margin&padding  -->
            <li><i class="fa fa-flag fa-2x no-margin"></i><h3> Activiteiten </h3></li>
          <% end %> 
        <li>
         <i class="fa fa-map-marker fa-2x no-margin"></i> <h3>Hotspots</h3>
        </li>
        <li>
         <i class="fa fa-users fa-2x"></i> <h3>Contacten</h3>
        </li>
        <li>
          <i class="fa fa-question-circle fa-2x"></i><h3>Hulp</h3>
        </li>
      </ul>
    </div><!--end of menu -->
  </div><!-- end of col-md-2 --> 
  <div class="col-sm-9 col-md-9">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash#{name}", :class => "alert alert-success"%>
    <% end %>
 
  <%= yield %>
  </div> <!--end of col-md-9-->
  <% end %>
  <%= yield :landingpage %>
</div> <!-- end page container -->
</body>
</html>